node-red/websocketNode-RED.json
[
    {
        "id": "819582c65c1cb277",
        "type": "tab",
        "label": "websocketNode-RED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7c4c82afbb5cbac",
        "type": "websocket out",
        "z": "819582c65c1cb277",
        "name": "",
        "server": "",
        "client": "9b8d9ebec89a4a3f",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "b10c17f2cdc34553",
        "type": "inject",
        "z": "819582c65c1cb277",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Serge",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "a7c4c82afbb5cbac"
            ]
        ]
    },
    {
        "id": "39474b5706ab796c",
        "type": "inject",
        "z": "819582c65c1cb277",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Wim",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "a7c4c82afbb5cbac"
            ]
        ]
    },
    {
        "id": "7ec576a7e9500779",
        "type": "inject",
        "z": "819582c65c1cb277",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Jonas",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "a7c4c82afbb5cbac"
            ]
        ]
    },
    {
        "id": "b56df79d29a62ec8",
        "type": "jimp-image",
        "z": "819582c65c1cb277",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 290,
        "y": 1240,
        "wires": [
            [
                "f3f95230545c996e",
                "69094d7807bdef36"
            ]
        ]
    },
    {
        "id": "f3f95230545c996e",
        "type": "image viewer",
        "z": "819582c65c1cb277",
        "name": "",
        "width": "64",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 470,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "89c77be6c0e8e63c",
        "type": "inject",
        "z": "819582c65c1cb277",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://picsum.photos/128/64",
        "payloadType": "str",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "b56df79d29a62ec8"
            ]
        ]
    },
    {
        "id": "69094d7807bdef36",
        "type": "websocket out",
        "z": "819582c65c1cb277",
        "name": "",
        "server": "",
        "client": "9b8d9ebec89a4a3f",
        "x": 530,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9b8d9ebec89a4a3f",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:7072",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    }
]